/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
.dashboard-container {
  padding-top: 50px;

  h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
  }
}


nav{
    background-color: $white;
}

.nav-link{
    padding-left: 5rem;
    padding-right: 5rem;
}

.navbar{
    padding-left: 5rem;
    padding-right: 2rem;
}

.dashboard-container{
    padding-left: 2rem;
    padding-right: 2rem;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
  color: $black;
  opacity: 0.75;

  &:hover,
  &:active,
  &:focus{
      opacity: 1;
      font-weight: bold;
  }
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
